.DiseaseInfo {
  background: #FFFFFF;
  box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
  border-radius: 8px;
  padding: 1.5em;
  width: 40%;

  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    button {
      border: none;
      outline: none;
      font-weight: bold;
      font-size: 15px;
      letter-spacing: 1px;
      font-family: 'Lato', sans-serif;
      background: #336CFB;
      color: #FFFFFF;
      border-radius: 8px;
      padding: 8px 10px;
      cursor: pointer;
      transition: ease 0.3s;
    }
    
    button:hover {
      background: #558EFF;
    }
  }
  
  .disease-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;    
    height: 15em;
    padding-right: 10px;
    overflow-y: auto;

    .disease-info {
      padding: 9px;
      height: fit-content;
      background: #EBF0FF;
      font-weight: bold;
      border-radius: 5px;
      cursor: default;
      user-select: none;
      
    }
  }

}